@define-color bg #eff1f5;
@define-color fg #4c4f69;
@define-color fg-muted #7c7f93;

@define-color surface-0 #ccd0da;
@define-color surface-1 #bcc0cc;
@define-color surface-2 #acb0be;

@define-color accent-primary #1e66f5;
@define-color accent-secondary #7287fd;
@define-color accent-success #40a02b;
@define-color accent-warning #df8e1d;
@define-color accent-danger #d20f39;
@define-color accent-info #04a5e5;
@define-color accent-special #8839ef;
