/* =========================
   THEME TOKENS (Mocha)
   ========================= */

@define-color bg #1e1e2e;
@define-color fg #cdd6f4;
@define-color fg-muted #6e738d;

@define-color surface-0 #313244;
@define-color surface-1 #45475a;
@define-color surface-2 #585b70;

@define-color accent-primary #89b4fa;
@define-color accent-secondary #b4befe;
@define-color accent-success #a6e3a1;
@define-color accent-warning #f9e2af;
@define-color accent-danger #f38ba8;
@define-color accent-info #89dceb;
@define-color accent-special #cba6f7;
