.osd {
  background-color: rgba(239, 241, 245, 0.9);
  border-radius: 12px;
  padding: 8px 8px;
}

progressbar > trough {
  background-color: #e6e9ef;
  border-radius: 8px;
  padding: 8px;
}

progressbar > trough > progress {
  background: linear-gradient(to right, #1e66f5, #7287fd);
  border-radius: 8px;
}