.osd {
  background-color: rgba(40, 40, 40, 0.9);
  border-radius: 12px;
  padding: 8px 8px;
}

progressbar > trough {
  background-color: #3c3836;
  border-radius: 8px;
  padding: 8px;
}

progressbar > trough > progress {
  background: linear-gradient(to right, #fe8019, #fabd2f);
  border-radius: 8px;
}
