.osd {
  background-color: rgba(46, 52, 64, 0.9);
  border-radius: 12px;
  padding: 8px 8px;
}

progressbar > trough {
  background-color: #3b4252;
  border-radius: 8px;
  padding: 8px;
}

progressbar > trough > progress {
  background: linear-gradient(to right, #88c0d0, #81a1c1);
  border-radius: 8px;
}
