/* Gruvbox Dark palette */
@define-color base   #282828;
@define-color mantle #1d2021;
@define-color crust  #3c3836;
@define-color text   #ebdbb2;
@define-color subtext0 #d5c4a1;
@define-color subtext1 #928374;
@define-color overlay0 #3c3836;
@define-color overlay1 #504945;
@define-color overlay2 #665c54;
@define-color blue   #83a598;
@define-color lavender #d3869b;
@define-color sapphire #83a598;
@define-color sky    #8ec07c;
@define-color teal   #8ec07c;
@define-color green  #b8bb26;
@define-color yellow #fabd2f;
@define-color peach  #fe8019;
@define-color maroon #fe8019;
@define-color red    #fb4934;
@define-color mauve  #d3869b;
@define-color pink   #d3869b;
@define-color flamingo #fbf1c7;
@define-color rosewater #fbf1c7;
