/* Nord palette */
@define-color base   #2e3440;
@define-color mantle #3b4252;
@define-color crust  #434c5e;
@define-color text   #d8dee9;
@define-color subtext0 #e5e9f0;
@define-color subtext1 #a3abb8;
@define-color overlay0 #3b4252;
@define-color overlay1 #434c5e;
@define-color overlay2 #4c566a;
@define-color blue   #5e81ac;
@define-color lavender #81a1c1;
@define-color sapphire #88c0d0;
@define-color sky    #88c0d0;
@define-color teal   #8fbcbb;
@define-color green  #a3be8c;
@define-color yellow #ebcb8b;
@define-color peach  #d08770;
@define-color maroon #d08770;
@define-color red    #bf616a;
@define-color mauve  #b48ead;
@define-color pink   #b48ead;
@define-color flamingo #eceff4;
@define-color rosewater #eceff4;
