/* Rose Pine palette */
@define-color base   #191724;
@define-color mantle #1f1d2e;
@define-color crust  #26233a;
@define-color text   #e0def4;
@define-color subtext0 #908caa;
@define-color subtext1 #6e6a86;
@define-color overlay0 #26233a;
@define-color overlay1 #403d52;
@define-color overlay2 #524f67;
@define-color blue   #9ccfd8;
@define-color lavender #c4a7e7;
@define-color sapphire #31748f;
@define-color sky    #9ccfd8;
@define-color teal   #9ccfd8;
@define-color green  #31748f;
@define-color yellow #f6c177;
@define-color peach  #ebbcba;
@define-color maroon #ebbcba;
@define-color red    #eb6f92;
@define-color mauve  #c4a7e7;
@define-color pink   #ebbcba;
@define-color flamingo #ebbcba;
@define-color rosewater #f2e9e1;
