/* Gruvbox Dark Color Variables */
@define-color foreground #ebdbb2;
@define-color background rgba(40, 40, 40, 0.85);
@define-color cursor #ebdbb2;

/* 16-color palette */
@define-color color0 #282828;
@define-color color1 #fb4934;
@define-color color2 #b8bb26;
@define-color color3 #fabd2f;
@define-color color4 #83a598;
@define-color color5 #d3869b;
@define-color color6 #8ec07c;
@define-color color7 #ebdbb2;
@define-color color8 #3c3836;
@define-color color9 #fb4934;
@define-color color10 #b8bb26;
@define-color color11 #fabd2f;
@define-color color12 #83a598;
@define-color color13 #d3869b;
@define-color color14 #8ec07c;
@define-color color15 #fbf1c7;
