/* Everforest theme for nwg-dock */
window {
  background: #2f383e;
  border-color: #4f585e;
}

#active {
  border-color: #e67e80;
}

button,
image {
  color: #d3c6aa;
}

button {
  color: #d3c6aa;
}

button:hover {
  background-color: #3a454a;
}